body{
    margin: 0;
    background-color: #bce2e9;
}

.title{
    margin: 0 auto;
    text-align: center;
    width: 50%;

}

.result{
    display: flex;
    justify-content: center;
}

.scores{
    width: 150px;
}

.message{
    padding: 20px;
    margin-top: -10px;

}

.result, .main, .message, .reset-section{
    text-align: center;
}

.hide{
    display: none;
}